body{
  width: 100%;
  padding: 30px;
  overflow-x: hidden;
  background-color: #969696;
  font-family: 'Righteous', cursive;
}

.cart{
  width: 50px;
  padding-right: 10px;
}

.logoMain{
  width: 600px;
}

.logo{
  width: 200px;
}

.productos1{
  font-family: 'Akshar', sans-serif;
  font-size: 25px;
  color: black;
  text-decoration: none;
  padding: 10px;
}

.nav1 {
  font-family: 'Akshar', sans-serif;
  font-size: 25px;
  color: black;
  
  text-decoration: none;
  padding: 10px;
}

.nav1:hover{
  color: rgb(207, 13, 13);
}

.nav2 {
  font-family: 'Akshar', sans-serif;
  font-size: 25px;
  color: rgb(87, 32, 32);
  
  text-decoration: none;
  padding: 10px;
}

.nav2:hover{
  color: rgb(12, 3, 115);
}

.dropdownn{
  font-family: 'Akshar', sans-serif;
  font-size: 20px;
  list-style-type: none;
  text-decoration: none;
  color: black;
  display: flex;
  padding: 10px;
}

.dropdownn:hover{
  
  color: black;
}

.nav-item{
  padding: 10px;
  
}